Repository Dedzsinator/Kaleidoplan, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, shared, documentation, workflow, dependencies

Update ci.yml
  .github/workflows/ci.yml
Labels: workflow

every feature (except spotify...) is working as i know, need to work on CodeQL
  README.md
  server/app.js
  server/controllers/admin.controller.js
  server/controllers/events.controller.js
  server/controllers/user.controller.js
  server/middleware/auth.js
  server/models/event-interest.model.js
  server/models/user.model.js
  server/routes/admin.routes.js
  server/routes/events.routes.js
  server/routes/user.routes.js
  src/App.tsx
  src/app/components/layout/NavBar.tsx
  src/app/components/ui/CrudOperationsTab.tsx
  src/app/components/ui/EventOrganizersTab.tsx
  src/app/components/ui/EventPrimaryContent.tsx
  src/app/components/ui/InterestButton.tsx
  src/app/components/ui/UserRolesTab.tsx
  src/app/models/types.ts
  src/app/screen/DashboardScreen.tsx
  src/app/screen/EventAnalyticsScreen.tsx
  src/app/screen/EventManagementScreen.tsx
  src/app/screen/OrganizerTaskScreen.tsx
  src/app/screen/UserManagementScreen.tsx
  src/app/styles/AnalyticsScreen.css
  src/app/styles/EventOrganizersTab.css
  src/app/styles/InterestButton.css
  src/app/styles/UserRolesTab.css
  src/services/adminService.ts
  src/services/api.tsx
  src/services/userService.ts
Labels: client, server, documentation

trying to do devops
  .github/workflows/ci.yml
  .github/workflows/lines.yml
  README.md
Labels: documentation, workflow

more devops
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/issue-management.yml
  .github/workflows/label.yml
  package.json
  server/package.json
Labels: server, workflow, dependencies

found the issue
  .github/workflows/ci.yml
  .github/workflows/issue-management.yml
Labels: workflow

another fix
  package.json
Labels: dependencies

uuuhhh
  .github/workflows/ci.yml
Labels: workflow

i hope now works
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: workflow, dependencies

Update ci.yml
  .github/workflows/ci.yml
Labels: workflow

html of course...
  public/index.html
Labels: client

im in pain
  eslint.config.js
  package.json
Labels: dependencies

its never over
  eslint.config.cjs
Labels: none

html..
  public/index.html
Labels: client

im exhausted
  .github/workflows/ci.yml
  eslint.config.js
  public/index.html
Labels: client, workflow

im tripping
  eslint.config.cjs
Labels: none

no tsc...
  src/app/components/__tests__/ThemedText-test.tsx
  src/app/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
Labels: client

YES
  .github/workflows/ci.yml
Labels: workflow

fixed and added a minim feature (i hate it with a burning passion)
  babel.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  server/app.js
  server/controllers/events.controller.js
  server/package-lock.json
  server/package.json
  server/routes/events.routes.js
  src/app/components/ui/EventImageGallery.tsx
  src/app/components/ui/EventImageUploader.tsx
  src/app/models/types.ts
  src/app/screen/OrganizerDashboardScreen.tsx
  src/app/styles/DashboardScreen.css
  src/app/styles/EventImageUploader.css
  src/services/api.tsx
  src/services/imageUpload.tsx
  uploads/events/event-unknown-event-1745696134031-980618865.jpg
  uploads/events/event-unknown-event-1745696146983-445566225.jpg
  uploads/events/event-unknown-event-1745696146983-935864904.jpg
Labels: client, server, dependencies

fixed, express, forms bugs
  .gitignore
  scripts/reset-project.js
  server/controllers/events.controller.js
  src/app/components/ui/EventImageGallery.tsx
  src/app/screen/OrganizerDashboardScreen.tsx
  src/app/styles/DashboardScreen.css
  uploads/events/event-unknown-event-1745696134031-980618865.jpg
  uploads/events/event-unknown-event-1745696146983-445566225.jpg
  uploads/events/event-unknown-event-1745696146983-935864904.jpg
Labels: client, server

formatting
  src/app/components/ui/EventImageGallery.tsx
  src/app/screen/OrganizerDashboardScreen.tsx
  src/app/styles/DashboardScreen.css
Labels: client

Added changes regarding new features (socket io is still not working, changed navbar to work on mobile.
  backend.dockerfile
  docker-compose.yml
  dockerfile
  frontend.dockerfile
  nginx.conf
  package-lock.json
  package.json
  server/app.js
  server/controllers/events.controller.js
  server/package-lock.json
  server/package.json
  server/services/notification.service.js
  src/App.tsx
  src/app/components/layout/NavBar.tsx
  src/app/components/layout/Pagination.tsx
  src/app/components/ui/NotificationCenter.tsx
  src/app/contexts/NotificationContext.tsx
  src/app/contexts/QueryContext.tsx
  src/app/hooks/useReactQuery.ts
  src/app/screen/EventListScreen.tsx
  src/app/screen/GuestScreen.tsx
  src/app/screen/HomeScreen.tsx
  src/app/styles/NavBar.css
  src/app/styles/NotificationCenter.css
  src/app/styles/Pagination.css
  src/services/socketService.ts
Labels: client, server, dependencies

working notifications...
  server/app.js
  server/services/notification.service.js
  src/app/components/layout/NavBar.tsx
  src/app/components/layout/Pagination.tsx
  src/app/components/ui/NotificationCenter.tsx
  src/app/contexts/NotificationContext.tsx
  src/app/contexts/QueryContext.tsx
  src/app/hooks/useReactQuery.ts
  src/app/models/types.ts
  src/app/screen/GuestScreen.tsx
  src/app/screen/HomeScreen.tsx
  src/app/styles/NavBar.css
  src/app/styles/NotificationCenter.css
  src/app/styles/Pagination.css
  src/services/socketService.ts
Labels: client, server

FIXED spotify music player!!
  server/models/playlist.model.js
  server/routes/playlist.routes.js
  src/app/components/ui/NotificationCenter.tsx
  src/app/hooks/usePlaylist.ts
  src/app/hooks/useReactQuery.ts
  src/app/screen/GuestScreen.tsx
  src/services/playlistService.tsx
  src/services/socketService.ts
Labels: client, server

Added Trie based searching, notifications (not working), working spotify player, fetched cover image and slideshow images.
  package-lock.json
  package.json
  server/app.js
  server/controllers/events.controller.js
  server/controllers/public.controller.js
  server/controllers/spotify.controller.js
  server/models/event.model.js
  server/models/playlist.model.js
  server/routes/playlist.routes.js
  server/routes/public.routes.js
  src/app/components/actions/SpotifyRadioOverlay.tsx
  src/app/components/layout/EventSection.tsx
  src/app/components/layout/NavBar.tsx
  src/app/components/ui/NotificationCenter.tsx
  src/app/contexts/AuthContext.tsx
  src/app/contexts/NotificationContext.tsx
  src/app/hooks/useEvents.ts
  src/app/hooks/usePlaylist.ts
  src/app/hooks/usePlaylists.ts
  src/app/hooks/useReactQuery.ts
  src/app/hooks/useSpotify.ts
  src/app/hooks/useTrie.ts
  src/app/hooks/useUsers.ts
  src/app/models/types.ts
  src/app/screen/EventDetailScreen.tsx
  src/app/screen/GuestScreen.tsx
  src/app/screen/HomeScreen.tsx
  src/app/styles/NavBar.css
  src/services/eventService.tsx
  src/services/playlistService.tsx
  src/services/socketService.ts
  src/services/spotify-web-api.tsx
  src/services/tokenStorage.ts
  src/services/trieService.ts
  src/services/userService.ts
Labels: client, server, dependencies

working notifications. Good
  server/app.js
  server/controllers/events.controller.js
  server/services/notification.service.js
  src/App.tsx
  src/app/components/actions/EventSubscription.tsx
  src/app/components/actions/SpotifyRadioOverlay.tsx
  src/app/components/layout/EventSection.tsx
  src/app/components/layout/NavBar.tsx
  src/app/components/ui/EventSecondaryContent.tsx
  src/app/components/ui/InterestButton.tsx
  src/app/screen/GuestScreen.tsx
  src/app/styles/animations.css
  src/services/playlistService.tsx
  src/services/socketService.ts
  src/services/spotify-web-api.tsx
Labels: client, server

Update deploy.yml
  .github/workflows/deploy.yml
Labels: workflow

add the refresh from crud to homescreen and moving the image upload....
  src/app/components/layout/NavBar.tsx
  src/app/components/ui/CrudOperationsTab.tsx
  src/app/models/types.ts
  src/app/screen/EventDetailScreen.tsx
  src/app/screen/HomeScreen.tsx
  src/app/services/socketService.ts
  src/app/services/trieService.ts
  src/app/styles/EventDetailScreen.css
Labels: client

linter...
  package.json
  src/app/components/actions/EventSubscription.tsx
  src/app/components/actions/SpotifyRadioOverlay.tsx
  src/app/components/layout/EventSection.tsx
  src/app/components/layout/NavBar.tsx
Labels: client, dependencies

now everything works as intended (as i know) stripe and cdn coming, then finish.
  package.json
  server/app.js
  server/controllers/admin.controller.js
  server/routes/admin.routes.js
  src/app/components/layout/NavBar.tsx
  src/app/components/ui/EventOrganizersTab.tsx
  src/app/hooks/useTrie.ts
  src/app/screen/EventDetailScreen.tsx
  src/app/styles/EventDetailScreen.css
Labels: client, server, dependencies

added weather api
  public/index.html
  src/app/components/ui/WeatherForecast.tsx
  src/app/screen/EventDetailScreen.tsx
  src/app/services/weatherService.ts
  src/app/styles/WeatherForecast.css
Labels: client

added cloudinary image server
  server/controllers/events.controller.js
  server/models/event.model.js
  server/package-lock.json
  server/package.json
  server/routes/events.routes.js
  src/app/components/ui/EventImageUploader.tsx
  src/app/screen/EventDetailScreen.tsx
  src/app/services/imageUpload.tsx
  src/app/styles/EventImageUploader.css
Labels: client, server, dependencies

added devops, kubernetes and all that.
  .github/scripts/k8s-deploy.sh
  .github/workflows/deploy-k8s.yml
  .github/workflows/lines.yml
  README.md
  kubernetes/backend-deployment.yaml
  kubernetes/backend-service.yaml
  kubernetes/firebase-secret.yaml
  kubernetes/frontend-deployment.yaml
  kubernetes/frontend-service.yaml
  kubernetes/ingress.yaml
  kubernetes/mongo-deploymet.yaml
  kubernetes/mongo-service.yaml
  kubernetes/namespace.yaml
  kubernetes/persistent-volumes.yaml
Labels: documentation, workflow

web5 ajax working, web6 auth working.
  README.md
  package-lock.json
  package.json
  postcss.config.js
  server/controllers/events.controller.js
  server/routes/events.routes.js
  src/app/components/ui/EventImageUploader.tsx
  src/app/components/ui/EventPrimaryContent.tsx
  src/app/screen/EventDetailScreen.tsx
  src/app/services/api.tsx
  src/app/services/imageUpload.tsx
  src/app/styles/EventDetailScreen.css
  src/app/styles/EventImageUploader.css
  src/app/styles/EventPrimaryContent.css
Labels: client, server, documentation, dependencies

fixing
  src/app/components/ui/EventPrimaryContent.tsx
  src/app/styles/EventPrimaryContent.css
Labels: client

added github OAuth
  public/index.html
  server/controllers/auth.controller.js
  server/middleware/auth.js
  server/middleware/token.js
  server/models/user.model.js
  server/package-lock.json
  server/package.json
  server/routes/auth.routes.js
  src/app/contexts/AuthContext.tsx
  src/app/screen/LoginScreen.tsx
  src/app/screen/RegisterScreen.tsx
  src/app/services/api.tsx
  src/app/services/authService.tsx
  src/app/styles/Auth.css
Labels: client, server, dependencies

commit...
  README.md
Labels: documentation

hoping for this to be the last commit...
  eslint.config.mjs
  server/controllers/events.controller.js
  server/controllers/user.controller.js
  server/services/notification.service.js
Labels: server

.github/labeler.yml:

# Configuration for the GitHub Labeler Action
# https://github.com/actions/labeler

client:
  - src/**/*
  - public/**/*

server:
  - server/**/*

shared:
  - shared/**/*

documentation:
  - "**/*.md"
  - docs/**/*

# Add 'workflow' label to any changes in workflow files
workflow:
  - .github/**/*

# Add 'dependencies' label to any changes to package files
dependencies:
  - package.json
  - package-lock.json
  - server/package.json
  - server/package-lock.json
  - yarn.lock
